.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note {
    font-size: 15px;
    color:#F35163;
}
.div_speed_img, .div_volume_img {
width: 180px;
border-radius: 90px;
}
.div_speed {
    float:left;
}
.div_volume {
    float:right;
}
.play_button {
    width: 145px;
}